div {
    width: 100%;
    max-width: 400px; /* Mobile ke liye fix size */
    margin: 0 auto; /* Center align */
  }
  
  
  @media (max-width: 480px) {
    div {
        width: 100%;
      }      
  }
  