/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #444;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
}

.navbar .nav-link:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-links .nav-link {
  text-align: center;
  padding: 10px 15px;
}

/* Hamburger Menu for Mobile */
.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.hamburger-menu div {
  background-color: white;
  height: 4px;
  width: 100%;
}


/* Responsive Styles for Navbar */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-link {
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
  }

  .navbar .nav-link:hover {
    background-color: #444;
  }

  .navbar-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }
}
